body
{
    font-size: x-large;
    text-align: center;
    font-family: monospace;
}
ul
{
    text-align: left;
}
.success
{
    color: green;
    background-color: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.error
{
    color: red;
    background-color: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}